ion-searchbar {
    --border-radius: 10px !important;
    font-family: "Poppins Regular";
}

.search {
    align-items: center;
    justify-content: center;
}

.locate-button {
    margin-top: 7px;    
}