<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="tertiary" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button class="locate-button">{{district}}</ion-button>
      <ion-button class="locate-button" color="danger" (click)="saveLocation()">
        <ion-icon name="locate-outline" slot="start"></ion-icon>
        Ubícame
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <app-search-bar *ngIf="showSearchBar" ></app-search-bar>
</ion-header>
