<app-header showSearchBar="true" #header></app-header>

<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row *ngIf="categories.length" >
            <ion-col *ngFor="let category of categories; let i = index"  size="6">
                <ion-card [ngStyle]="{'background': categoriesColor[i] }">
                    <!-- <ion-icon class="icon" name="fast-food-outline"></ion-icon> -->
                    <ion-label class="number">{{ (i+1) * 13 }}</ion-label>
                    <ion-label>{{category.nombre}}</ion-label>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
<div style="margin-top: 65px;"></div>
</ion-content>