ion-card {
    color: whitesmoke;
    border-radius: 15px !important;
    padding-bottom: 1px !important;
    margin-bottom: 1px !important;
    font-family: "Poppins Medium";
    font-size: 15px;
    height: 90px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon {
    font-size: 32px !important;
}

.number {
    font-size: 20px !important;
}