<app-header></app-header>

<ion-content>
    <app-search-bar></app-search-bar>
    <div id="businessMap" style="height:400px"></div>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-list-header>
                    <ion-label>Busquedad:</ion-label>
                    <ion-button>comida</ion-button>
                </ion-list-header>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <img class="img-business" src="../../../assets/recents/pardo.jpg">
                    <div class="detalle ion-text-left">
                      <p class="titulo">Pardos chicken</p>
                      <p class="delivery">tiene delivery <ion-icon class="icono" name="bicycle-outline"></ion-icon>  </p>
                      <div class="categorias-detalles">
                        <span class="categoria">
                          <ion-label>Comida</ion-label>
                        </span>
                        <span class="subcategoria">
                          <ion-label>Fast food</ion-label>
                        </span>
                      </div>
                    </div>
                  </ion-card>
            </ion-col>
        </ion-row>
        <div style="height: 140px;"></div>
    </ion-grid>
</ion-content>
