.total {
    color: var(--ion-color-danger);
    font-family: "Poppins Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: none;
}

ion-chip {
    color: whitesmoke !important;
    font-family: "Poppins Medium";
}